[submodule "apps/svelte-desk"]
	path = apps/svelte-desk
	url = https://github.com/lotexiu/svelte-desk.git

[submodule "apps/angular-desk"]
	path = apps/angular-desk
	url = https://github.com/lotexiu/angular-desk.git

[submodule "apps/react-desk"]
	path = apps/react-desk
	url = https://github.com/lotexiu/react-desk.git

[submodule "packages/typescript"]
	path = packages/typescript
	url = https://github.com/lotexiu/typescript

[submodule "packages/eslint-config"]
	path = packages/eslint-config
	url = https://github.com/lotexiu/eslint-config.git

[submodule "packages/typescript-config"]
	path = packages/typescript-config
	url = https://github.com/lotexiu/typescript-config.git

[submodule "packages/vite-utils"]
	path = packages/vite-utils
	url = https://github.com/lotexiu/vite-utils.git
